datajoint
scipy
numpy
pandas
ipysheet
requests
matplotlib
graphviz
ruamel
csv
rspace-client==1.6.0
element-interface @ git+https://github.com/datajoint/element-interface.git@main
element-calcium-imaging @ git+https://github.com/SFB1089/element-calcium-imaging.git@main
element-session @ git+https://github.com/SFB1089/element-session.git@main
pywavesurfer @ git+https://github.com/SFB1089/PyWaveSurfer.git
scanreader @ git+https://github.com/SFB1089/scanreader.git

